.footer{

    background-image: url('../assets/imgs/Pane-dirtLight.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align:center; 
    padding:5em 0px;

    color:white;
}