.menu{
    width: 100%;


    
    box-sizing: border-box;
    background-color: rgb(71, 31, 31);


    z-index: 5;
}
.nav-bar{
   width: 100%;
   height: 100%;
}
.links{
    list-style-type: none;
    display: flex;
    align-items: flex;
    justify-content: center;
    padding:10px 30px;
}
.links li{
    padding:10px 15px;
}
.links a{
    font-size: 1.5rem;
    font-weight: 200;
    color:white;
}

.links li:hover > a{
    color:#ef972f;
}

